body {
    margin: 0;
    padding: 0;
    padding-top: 0;
    /* background-image:url("https://img.freepik.com/premium-vector/cat-paw-print-vector-illustration-colored-animal-footprints-seamless-pattern-animal-paws_711179-80.jpg?w=826"); */
    background: rgba(247,198,169,1);
    background: linear-gradient(0deg, rgba(176,224,230,1) 0%, rgba(149,164,255,1) 57%, rgba(247,198,169,1) 100%), url(https://img.freepik.com/premium-vector/cat-paw-print-vector-illustration-colored-animal-footprints-seamless-pattern-animal-paws_711179-80.jpg?w=826);
    background-blend-mode:screen;
    /* background:linear-gradient(powderblue,#95a4ff,rgb(247, 198, 169)); */
    line-height: 1.5;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #668ba4
}
#bg-element {
    background: rgba(247,198,169,1);
    height: 200px;
}
/* #grad {
    background-image: linear-gradient(red, yellow);
  } */
#content-container{
    margin: 30;
    padding: 30;
    padding-top: 0;
    /* background: linear-gradient(0deg, rgba(149,164,255,1) 13%, rgba(247,198,169,1) 57%, rgba(176,224,230,1) 92%); */
}
h3 {
    font-family: 'Playfair Display', serif;
    color: #62acff;
    text-shadow: 1px 2px 2px #f7ffe6;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
}

/* header */
#header {
    color: white;
    background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, #ffc17c 54.2%, rgb(21, 186, 196) 100.3%);
    background-size: contain;
    width: 100%;
    height: 20vh;
    display: inline-block;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: -2rem;
    padding-right: -2rem;
    border: 0em solid white;
    border-radius: 80px;
}
#title {
    color: #ffedff;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 0.75em;
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
    margin-top: 2rem;
    margin-bottom: .67rem;
    letter-spacing: 1px;
}
#welcomeMessage {
    color: #ffffff;
    padding-top: 0em;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 46px;
    margin-top: 0.8rem;
    letter-spacing: .5px;
    text-shadow: 1px 2px 2px #e5d5e5, 2px 3px 3px #e5d5e5;
}

/* signup section */
#signup-div {
    display: block;
    text-align: center;
}
#signup-div h3 {
    font-size: 30px;
    margin-bottom: .7rem;
}
#signup-form {
    position: relative;
    background: rgb(253, 239, 132);
    padding: 40px 80px;
    border: 2px solid #668ba4;
    background-size: contain;
    display: inline-block;
    align-items: center;
    justify-items: center;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 0px 2px #668ba4;
}
#signup-submit-btn {
    cursor: pointer;
    color: white;
    background: #ffa580;
    border: 1px solid #668ba4;
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 1px #668ba4;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 22px;
    height: 35px;
    width: fit-content;
    outline: none;
    border-radius: 8px;
    letter-spacing: 1px;
    /* text-shadow: 1px 1px 1px #e5d5e5; */
}
#signup-submit-btn:hover {
    color: #ffedff;
    background: #165bfb;
    border: 1px solid #668ba4;
    box-shadow: 3px 3px 1px 1px #4af7ff, 3px 3px 1px 1px #668ba4;
}
.signup-input {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 28px;
    color: #95a4ff;
    margin-bottom: 28px;
    width: 100%;
    border: none;
    background:rgb(253, 239, 132);
    border-bottom: 2px solid rgb(21, 186, 196);
    display: block;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
}
.signup-input:focus{
    border-bottom: 2px solid #ffa580;
    background:rgb(253, 239, 132);
}
input::placeholder {
    color: #668ba4;
    font-family:'Heebo', sans-serif;
    font-size: 16px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #95a4ff !important;
    transition: rgb(253, 239, 132) 5000s ease-in-out 0s !important;
    box-shadow: inset 0 0 20px 20px rgb(253, 239, 132) !important;
}

/* trivia section */
.questions-container {
    background: #ffc17c;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 30px;
    margin-top: 2.5rem;
    padding: 50px;
    border-top: 3px solid rgba(255, 165, 128);
    border-bottom: 2px solid rgba(255, 165, 128);
    border-left: 5px solid rgba(255, 165, 128);
    border-right: 3px solid rgba(255, 165, 128);
    box-shadow: 12px 8px 1px 0px rgba(255, 165, 128, 1),22px 17px 3px 0px rgba(102, 139, 164, 1);
}
#trivia-header {
    color: #a4ff95;
    background: #95a4ff;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 2px 2px #2a9d8f, 2px 3px 3px #2a9d8f;
    margin-top: 1rem;
    margin-bottom: 0rem;
    border: 5px solid #ff95a4;
}

#trivia-form {
    display: block;
    /* text-align: center; */
}

.fieldset {
    display: block;
}

.fieldset legend {
    font-size: 20px;
}

#trivia-btn-div {
    text-align: center;
}

#trivia-submit-btn {
    /* display: block; */
    cursor: pointer;
    color: #ffa580;
    background:  rgb(253, 239, 132);
    border: 1px solid #668ba4;
    box-shadow: 
    3px 3px 1px 1px #95a4ff, 
    3px 3px 1px 1px #668ba4;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 26px;
    text-shadow: 
    .5px .5px 0px #ff814d, 
    .5px .5px 0px #ff9367;
    height: 45px;
    width: fit-content;
    outline: none;
    border-radius: 8px;
    letter-spacing: 1.5px;
}
#trivia-submit-btn:hover {
    color: #ffedff;
    background: #165bfb;
    border: 1px solid #668ba4;
    box-shadow: 3px 3px 1px 1px #4af7ff, 3px 3px 1px 1px #668ba4;
}

#progress-div {
    text-align: center;
}

#progress-bar {
    width: 200px;
    height: 50px;
    /* border: none; */
}

.hint-container{
    text-align: center;
}

.hint{
    display: inline-block;
    font-size: 22px;
    color: #62acff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: #a4ff95;
     
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 10s;
}
.hint:after, .hint:before {
    content: " ";
    width: 7px;
    height: 7px;
    position: absolute;
    border: 0px solid #fff;
    transition: 1s;
}
.hint:after{
    top:-1px;
    left: -1px;
    border-top: 5px solid #ff95a4;
    border-left: 5px solid #ff95a4;
}  
.hint:before{   
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #95a4ff;
    border-right: 5px solid #95a4ff;
}
/* .hint:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  } */
.hint:hover:before, .hint:hover:after {
    width: 100%;
    height: 100%;
  }

/* snackbar */
#snackbar-div {
    text-align: center;
}

#snackbar {
    visibility: hidden;
    min-width: 300px;
    margin-left: -200px;
    margin-bottom: 225px;
    height: 40px;
    color: #fff;
    background: #95a4ff ;
    border: 2px solid #668ba4;
    box-shadow: 8px 9px 1px #ffa580, 8px 9px 0px 2px #668ba4;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    
}
#snackbar.show {
    visibility: visible;
    --webkit-animation: fadein .5s, fadeout .5s 2.5s;
    animation: fadein .5s, fadeout .5s 2.5s;
}
/* snackbar animation */
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 20px; opacity: 1;}
  }

@keyframes fadeout {
    from {bottom: 20px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  
  /* .data-container {
    background: #ffebee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
     

.hidden {
    margin-top: .75em;
    display: none;
    text-align: center;
    color: red;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

svg {
    /* background: #95a4ff; */
    position: absolute; 
    /* padding: 0;
    margin: 0; */
    width: 100%;
    overflow: visible;
}


/* Things to do for design
DONE change signup section appearances
DONE hover for hint
DONE body font and font size
background image
pointer cursor for buttons
background gradients


 */
